Flask==3.0.3
gunicorn==22.0.0
pandas==2.2.3
gspread==6.1.2
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-api-python-client==2.147.0
google-cloud-storage==2.18.2
openpyxl==3.1.2
qrcode==7.4.2
requests==2.32.3
protobuf==6.33.0
Pillow==11.0.0
